.header {
    max-width: 1280px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 48px;
    display: flex;
    justify-content: space-between;
    margin: 28px auto;
}

@media (max-width: 768px) {
    .header {
        padding: 0 24px;
    }
}

@media (max-width: 320px) {
    .header {
        margin-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
}