.lead__image {
    margin-top: 64px;
    /* background-image: url(../../../images/kalegin-michail-179870-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: contain; */
    width: 100%;
    aspect-ratio: 16/10;
}

@media (max-width: 1024px) {
    .lead__image {
        margin-top: 56px;
    }
}

@media (max-width: 320px) {
    .lead__image {
        margin-top: 40px;
    }
}