.cover {
    margin-top: 92px;
    max-width: 1184px;
    width: 100%;
    position: relative;
    aspect-ratio: 16/10;
    background-image: url(../../images/__background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .cover {
        margin-top: 90px;
    }
}

@media (max-width: 500px) {
    .cover {
        margin-top: 66px;
    }
}