.footer {
    display: flex;
    justify-content: space-between;
    padding: 24px 48px;
    margin-top: 68px;
    max-width: 1280px;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .footer {
        margin-top: 64px;
        padding-left: 24px;
        padding-right: 24px;
        flex-wrap: wrap;
        row-gap: 46px;
    }
}

@media (max-width: 500px) {
    .footer {
        flex-direction: column;
        margin-top: 41px;
        padding-left: 16px;
    }
}
